:root {
  --primary-color: #A22020;
}

.popup {
  position: fixed;
  top: 5%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, 0%);
  border: 3px solid #f1f1f1;
  z-index: 9;
}

body {
  background: var(--primary-color);
  color: rgb(255, 255, 255);
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

strong {
  font-weight: 600;
}

h3 {
  font-weight: 100;
}

.pokeContainer {
  background: #343a40;
  border-radius: 10px;
  padding: 1em;
}

.pokeHeader {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.close-btn {
  float: right;
}

.close-btn:hover {
  color: red;
  cursor: pointer;
}

.moreInfo {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(200px, 1fr) );
  grid-gap: 1em;
  margin-right: 2em;
}

.card {
  background: rgba(0,0,0,0.5);
  color: rgb(255, 255, 255);
  font-size: 1vw;
}

.card-body {
  padding-top: 0px;
}

.card-grip > div {
  background: #eee;
}

.card-img-top{
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 70%;
  border-radius: 50%;
  border-color: #282c34;
}

.circle-icon {
  background: rgb(0,212,255);
background: radial-gradient(circle, rgba(0,212,255,1) 0%, rgba(255,255,255,1) 70%);
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
}

.circle-icon:hover {
  background: rgb(42,182,255);
  background: radial-gradient(circle, rgba(42,182,255,1) 0%, rgba(255,255,255,1) 79%);
}

.btn {
  background-color: #eee;
  color: black;
  display: block;
  border: none;
  margin: 1em 0;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.btn:hover {
  background: rgb(42,182,255);
}

.search-box {
  background: rgba(0,0,0,0.5);
  margin-bottom: 2em;
  padding: 25px 50px;
  border-radius: 25px;
  width: 100%;
  border: none;
  color: white;
  font-size: 1vw;
}

:focus {
  outline: 0;
  box-shadow: 0 0 3pt 2pt rgb(42,182,255);
}

.coreBtn {
  padding-right: 1em;
  transition: padding .2s ease, background-position .2s ease, transform .5s ease;
}

.coreBtn:span {
  margin: 0;
  padding: 0;
}

.coreBtn:hover {
  transform: scale(1, 1);
  padding-left: 110px;
  padding-right: 10px;
  background-position: 5px center;
  color: white;
}

.coreBtn span:nth-child(1) {
  position: absolute;
  left: -120px;
  transition: left .2s ease;
}

.coreBtn:hover span:nth-child(1) {
  left: 5px;
}

.coreBtn {
  margin-right: 0.5em;
}

.selected {
  background: rgb(42,182,255);
  color: white;
  transform: scale(1, 1);
  padding-left: 110px;
  padding-right: 10px;
  background-position: 5px center;
}

.selected span:nth-child(1) {
  left: 5px;
}

.custom-container {
  display: grid;
  grid-template-columns: 1fr 5fr;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.stats {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
}

.stat-data {
  padding: 1em;
  margin: 0.5em;
  font-size: 15px;
  background-color: rgba(255,0,0,0.7);
  border-radius: 10px;
}

.progress {
  padding: 0;
  margin: 0;
  font-size: 10px;
}

.hidden {
  display: none;
}

.toggleBtn {
  color: white;
  background-color: transparent;
  border-color: transparent;
}

p {
  color: rgb(164,164,164);
}

/* Pokemon Abilities and Types */
.type {
  padding:0.3em;
  margin: 0.5em;
  border-radius: 10px;
  width: 100px;
  font-size: 12px;
  text-align: center;
  display: inline-block;
  text-shadow: 2px 2px 4px #000000;
}

.type-text {
  font-size: 100%;
}

.is-hidden {
  background-color: rgb(107, 107, 107);
}

.fire {
  background-color: red;
}

.flying {
  background-color: cyan;
}

.water {
  background-color: blue;
}

.grass {
  background-color: green;
}

.bug {
  background-color: rgba(68, 182,64,1)
}

.poison {
  background-color: purple;
}

.normal {
  background-color: rgb(146, 146,146);
}

.electric {
  background-color: yellow;
}

.ground {
  background-color: orange;
}

.rock {
  background-color: brown;
}

.fairy {
  background-color: pink;
}